<!doctype html>
<html lang="en">

<head>
    <title>Whatsapp Bot</title>

    <meta charset="utf-8">
    <meta name="description" content="Free Whatsapp Bot Gateway">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Whatspp bot, bot whatsapp, bot wa, whatsapp">

    <link rel="shortcut icon" href="/assets/favicon.jpeg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark py-3 mb-3">
        <div class="container justify-content-center">
            <a class="navbar-brand" href="https://shanndevapi.com/" target="_blank">
                SHANNDEV<font class="text-danger">API</font>
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="row tengah justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title p-0 py-2 m-0">Nomor Whatsapp</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <input type="text" placeholder="62xxx" id="sender" class="form-control" autocomplete="off"
                                autofocus>
                        </div>
                        <div class="d-flex justify-content-end gap-2">
                            <button class="btn btn-sm bg-success" id="delete">Delete Session</button>
                            <button class="btn btn-sm bg-danger" id="submit">Start Bot</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-bottom text-center py-2">
        <small class="text-muted">
            <div class="d-flex gap-3 justify-content-center">
                <a href="javascript:void(0)" class="text-muted" id="tutorial">Tutorial</a>
            </div>
            All Rights Reserved by
            <a href="https://instagram.com/shanndev28" class="text-muted" target="_blank">@shanndev28.</a>
        </small>
    </div>

    <!-- Modal Connection -->
    <div class="modal fade" id="connection" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body" id="logs"></div>
            </div>
        </div>
    </div>

    <!-- Modal Tutorial -->
    <div class="modal fade" id="tutorial-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content" style="border: none;">
                <div class="modal-body">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-4 mb-5">
                            <img src="/assets/1.png" alt="sender" class="img-fluid mb-3"
                                style="border: 0.5px solid white;">
                            <h6>Masukkan nomor whatsapp yang ingin digunakan untuk bot</h6>
                        </div>
                        <div class="col-md-4 mb-5">
                            <img src="/assets/2.png" alt="scan" class="img-fluid mb-3"
                                style="border: 0.5px solid white;">
                            <h6>Buka Whatsapp > Perangkat tertaut > Scan QRCode</h6>
                        </div>
                        <div class="col-md-4 mb-5">
                            <img src="/assets/3.png" alt="success" class="img-fluid mb-3"
                                style="border: 0.5px solid white;">
                            <h6>Proses Selesai dan bot akan otomatis berjalan</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="/assets/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $('#tutorial').click(() => {
            $('#tutorial-modal').modal('show')
        })
    </script>
</body>

</html>